{{define "footer"}}
<script src="/static/lib/jquery/jquery.js"></script>
<script src="/static/lib/popper.js/popper.js"></script>
<script src="/static/lib/bootstrap/bootstrap.js"></script>
<script src="/static/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="/static/lib/moment/moment.js"></script>
<script src="/static/lib/jquery-ui/jquery-ui.js"></script>
<script src="/static/lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="/static/lib/peity/jquery.peity.js"></script>
<script src="/static/lib/highlightjs/highlight.pack.js"></script>
<script src="/static/lib/select2/js/select2.min.js"></script>
<script src="/static/lib/parsleyjs/parsley.js"></script>

<script src="/static/js/bracket.js"></script>
{{end}}