{{define "sidebar"}}
<div class="br-logo"><a href=""><span>[</span>bracket<span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <div class="br-sideleft-menu">
        <a href="/company" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                <span class="menu-item-label">Company</span>
            </div>
        </a>
        <a href="/purchase_order" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-ios-cart-outline tx-22"></i>
                <span class="menu-item-label">Purchase Order</span>
            </div>
        </a>
        <a href="/vendor" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-android-archive tx-22"></i>
                <span class="menu-item-label">Vendor</span>
            </div>
        </a>
        <a href="/product" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-android-clipboard tx-22"></i>
                <span class="menu-item-label">Product</span>
            </div>
        </a>
    </div><!-- br-sideleft-menu -->
</div><!-- br-sideleft -->
{{end}}